@import 'https://fonts.googleapis.com/css?family=Montserrat:400,700|Raleway:300,400';

*{
    padding:0;
	margin: 0;
}

 /* galería-eventos */
 .fondoo{
	
 	background-image: url('../img/Albania5.png');
	width: 100%;
	height: 100vh;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	flex-direction: column;
	justify-content: center;
	align-items: center;
 
}
.fondoo:before{
	content: "";
	width: 100%;
	height: 100%;
	background-color: black;
	position: absolute;
	opacity: 0.6;
}
.wrap{
	width: 80%;
    height:;
    padding-top: 8%;
    position: relative;
    margin-left: 	10%;

	margin-bottom: 2%;

	
}
.box1{
    width: 100%;

	margin: 0 auto;
	padding: 20px;
	text-align: center;
}
.box1 img{
	width: 80%;
}
.box1 h1{
	font-size: 50px;
	color: #49cb1c;
	text-align: center;
}
.contenedores{
	margin-top: 8%;
	display: flex;
}

.caja{
	width: 60%;
	text-align: justify;
	background-color: #FFF;
	margin: 1% 1%;
	padding: 2%;

	margin-bottom: 10%;
	

	border-radius: 4px 4px 4px 4px;
	-webkit-box-shadow: 10px 10px 14px 2px rgba(0, 0, 0, 0.47);
    box-shadow: 10px 10px 14px 2px rgba(0, 0, 0, 0.47);
	transition: 0.4s;
}
.caja:hover{
	cursor: context-menu;

    transform: scale(1.03);
}
.caja h2{
	text-align: center;
	height: 70px;
	color: green;
}
aside{
	color: white;

	text-align: center;

}
@media (max-width: 1080px){
	.wrap{
		margin-top: 10%;
	}
}
@media (max-width: 798px){
	.contenedores{

		display: flex;
		flex-direction: column;
		margin-bottom: 15%;
	}

	.caja{
		width: 80%;
		text-align: justify;
		background-color: #FFF;
		margin-left: 10%;
		padding: 5%;

		margin-bottom: 2%;
		

		border-radius: 4px 4px 4px 4px;
		-webkit-box-shadow: 10px 10px 14px 2px rgba(0, 0, 0, 0.47);
	    box-shadow: 10px 10px 14px 2px rgba(0, 0, 0, 0.47);
		transition: 0.4s;
	}

	.fondoo{
		
		height: 140vh;
	 
	}
}
.galev{
	line-height: 2rem;
	margin-top: 4%;

	
	margin-right: 70%;
	margin-left: 5%;


}
.galev div{
	font-weight: bold;
	transition: 0.5s;
}
.galev:hover div{
	
    color: #49cb1c;
    
}
.galev a{
	color: black;
	text-decoration: none;
}



/*@media (max-width: 1200px){
	.GaleriaEventos .galeria, .eventos{
		margin-top:15%;
		margin-bottom: 15%;
		margin-right: 5%;
	}
}
@media (max-width: 1125px){
	.GaleriaEventos .galeria, .eventos{
		margin-top:15%;
		margin-bottom: 18%;
		margin-right: 5%;
	}
}
@media (max-width: 1064px){
	.GaleriaEventos .galeria, .eventos{
		margin-top:15%;
		margin-bottom: 17%;
		margin-right: 5%;
	}
}
@media (max-width: 968px){
	.GaleriaEventos .galeria, .eventos{
		margin-top:20%;
		margin-bottom: 22%;
		margin-right: 5%;
	}
}
@media (max-width: 768px){
	.GaleriaEventos{
		background-position: center;
		background-attachment: fixed;
		position: relative;
		
		display: flex;
	 	justify-content: flex-end;
		
	}


	.GaleriaEventos .galeria, .eventos{
		margin-top:28%;
		margin-bottom:28%;
		margin-right: 5%;

	}

	.GaleriaEventos .galeria h1, .eventos h1{
		font-size: 22px;
		text-align: center;
		margin-top: 5%;
	}

	.galev{
		line-height: 2rem;
		margin-top: 4%;
		margin-right: 30%;
	}
	
}
@media (max-width: 632px){
	.GaleriaEventos{
		
		display: flex;
		flex-direction: column;
	 	justify-content: flex-end;
		
	}
	.GaleriaEventos .eventos{
		margin-bottom: 15%;

	}
	.GaleriaEventos .galeria{
		margin-bottom: 0%;
	}
	.GaleriaEventos .galeria, .eventos{
		padding: 2%;
		background: white;
		margin-top: 12%;

		
		margin-left: 10%;
		transition: 0.4s;
	}
}*/